# Assignment 3 (60 points - Due on Monday October 11th by 7:00 pm ET)

**You are free to use any IDE you like.**
The output of this assignment for submission should be in PDF format **AND** .py or .ipynb. The name of the file should be as follows: Lastname_Firstname_Assignment3.pdf (example: Thomas_Sunela_Assignment3.pdf) ****AND**** Lastname_Firstname_Assignment3.ipynb (example: Thomas_Sunela_Assignment3.ipynb. In short, you are submitting the python notebook as well as the pdf of that notebook.

Incorrect file name will cost you points! Do NOT submit HTML code file.
Instructions for converting a Jupyter Python notebook to PDF: Go to the menu and choose, File --> Download As --> html

Open that html file and print it to PDF.

**Things to note:**
* Output should be displayed for each question in a sentence format

## Use the tips.csv file to answer the following questions. Each question answer should be displayed. The meaning of the variables are described below.
* total_bill = Total bill (cost of meal), including tax, in US dollars
* tip = Tip (gratuity) in US dollars
* sex = 0 (male) and 1 (female)
* smoker = 0 (NO), 1 (YES)
* day = Day of the Week (4 = Thurs, 5= Fri, 6 = Sat, 7 = Sun)
* time = Dinner, Lunch
* size = size of the party

<h3> You may need to recode some variables like sex, day of the week, etc. so that the results are meaningful.  Provide the results in the form of a sentence instead of just a value.

<h3> 1. What is total number of orders where the `total_bill` is greater than $40 and the party size was 4 or less?

In [208]:
import pandas as pd
df = pd.read_csv('tips.csv')
#print(df)
# Answer
print('Total number of orders where the total bill is greater than $40 and the party size is 4 or less:',\
      len(df.loc[(df['total_bill'] > 40.00) & (df['size'] <= 4)]))

Total number of orders where the total bill is greater than $40 and the party size is 4 or less: 8

<h3> 2. Who pays the bill more often: men or women?

In [209]:
# Answer
if(len(df.loc[df['sex'] == 0]) > len(df.loc[df['sex'] == 1])):
    print('Men pay more often.')
else:
    print('Women pay more often.')

Women pay more often.

<h3> 3. What day-time combination has the highest average bill? What has the lowest average bill?

In [210]:
# Answer
df2 = df.groupby(['time', 'day']).mean()
maxBill = df2['total_bill'].max()

maxDay = df2.loc[df2['total_bill'] == maxBill].index.values

print('Highest bill: Day', maxDay[0][1], maxDay[0][0])

minBill = df2['total_bill'].min()
minDay = df2.loc[df2['total_bill'] == minBill].index.values

print('Lowest bill: Day', minDay[0][1], minDay[0][0])

Highest bill: Day 7 Dinner
Lowest bill: Day 5 Lunch

<h3> 4. On which day of the week does the waiter serve the largest parties on average?

In [211]:
# Answer
import numpy as np
df2 = df.groupby(['day']).agg({'size':np.mean})
print('The largest parties, on average, are on Day:', df2['size'].idxmax())

The largest parties, on average, are on Day: 7

<h3> 5. Calculate the average total bill by day, time, and party size. Display the results in a pivot table.

In [212]:
# Answer
df.pivot_table('total_bill', ['day', 'time'], 'size')

size            1          2          3          4      5          6
day time
4   Dinner    NaN  18.780000        NaN        NaN    NaN        NaN
    Lunch   10.07  15.079787  19.160000  29.950000  41.19  30.383333
5   Dinner    NaN  17.799091        NaN  40.170000    NaN        NaN
    Lunch    8.58  13.072000  15.980000        NaN    NaN        NaN
6   Dinner   5.16  16.837170  25.509444  29.876154  28.15        NaN
7   Dinner    NaN  17.560000  22.184000  26.688333  27.00  48.170000

<h3> 6. What is the lowest tip_rate? Was it paid by a male or female? Was it a smoker or non-smoker?

In [213]:
# Answer
df2 = df.groupby('tip').min()
df3 = df2.head(1)
if(df3['smoker'].iloc[0] == 0):
    isSmoker = 'Nonsmoker'
else:
    isSmoker = 'Smoker'
if(df3['sex'].iloc[0] == 0):
    tipperSex = 'Male'
else:
    tipperSex = 'Female'
print('The lowest tipper was a', tipperSex, isSmoker + '.')

The lowest tipper was a Male Nonsmoker.